[Unit]
Description=goconserver
[Service]
LimitNOFILE=65535
ExecStart=/usr/bin/goconserver
ExecStop=/bin/kill -TERM $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
killMode=process
After=network.target
[Install]
WantedBy=multi-user.target