[Unit]
Description=goconserver console daemon
Documentation=https://github.com/xcat2/goconserver
After=network.target

[Service]
LimitNOFILE=65535
ExecStart=/usr/bin/goconserver
ExecStop=/bin/kill -TERM $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target
