[Unit]
Description=goconserver console daemon
Documentation=https://github.com/chenglch/goconserver

[Service]
LimitNOFILE=65535
ExecStart=/usr/bin/goconserver
ExecStop=/bin/kill -TERM $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
After=network.target

[Install]
WantedBy=multi-user.target